<%= render 'shared/nav' %>

<div class="container mt-lg-3">
  <%= render 'shared/header', title: 'Editing Project'%>

  <%= render 'shared/errors', obj: @project %>

  <%= render 'form' %>

  <%= link_to 'Show', project_path(@project) %>
  <%= link_to 'Back', projects_path %>
</div>