<%= render 'shared/nav'%>

<div class="container mt-lg-3">
  <%= render 'shared/header', title: @project.name %>
  <p class="lead"><%= @project.description %></p>

  <ul>
    <%= link_to 'Edit', edit_project_path(@project) %>
    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?" } %>
  </ul>
    

  <%= render 'shared/ticket_list'%>

</div>